.freeuser{
	ul{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		list-style-type:none;
		li.suggestion{
			padding: 10px 20px;
			margin-bottom: 5px;
			border-radius: 5px;
		}

		&.searchBox{
			// width: 60%;
			li{
				width: 100%;	
				input[type=text]{
					width:60%;
				}
			}
		}
		li.selected{
			background-color: #996699;
			color: white;
		}
		li.highlighter{
			background-color: #0A8D8F;
			color: white;	
		}
	}
	.results{
		div{
			padding: 5px;
		}
		.availability{
			width:100%;
			height: 120px;
			span{
				font-size: 20px;
				font-weight: bold;
				color: white;
				padding-top: 20px;
			  	text-overflow: ellipsis;
			  	overflow: hidden;
				&.text{
					text-align: right;
				}
				&.value{
					text-align: left;
				}
			}
		}
		.chart{
			width:100%;
			height: 480px;
		}
		.map{
			width:100%;
			height: 480px;
		}
		.reachHere{
			width:100%;
			height: 80px;
			a{
				text-decoration: none;
				width: 100%;
				font-size: 20px;
				color: white;
				text-align: center;
  				padding-top: 20px;
  			}
		}
	}
}