.body{
	.hungInMidAir{
		background-color: #fff;
		border-bottom: 0px solid ;
	}
	.hero-unit {
		-webkit-transition: all 800ms cubic-bezier(0.39,.575,.565,1) 100ms;
	  	-moz-transition: all 800ms cubic-bezier(0.39,.575,.565,1) 200mss;
	  	-o-transition: all 800ms cubic-bezier(0.39,.575,.565,1) 200ms;
	  	transition: all 800ms cubic-bezier(0.39,.575,.565,1) 200ms;
	  	background-color: transparent;
	  	margin-bottom: 0;
	  	border-radius: 25px;
	  	position: relative;

	  	.active-bg{
	  		background-color: transparent;
			background: rgba(13,13,13,0.3);
			zoom: 1;
			padding: 15px 15px 15px 30px;
	  	}
	}
	.largeText{
		height: 172px;
		margin-left: auto;
		margin-right: auto;
		background-color: #3356D6;
		color: white;
		padding: 50px;
		font-weight: bold;
		border-radius: 10px; 
		span{
			display: block;
			&.text-small{
				padding: 5px;
				font-size: 16px;
			}
			&.extra-small-text{
				padding-top: 20px;
				font-size: 8px;
			}
		}
		input{
			color: grey;
			font-weight: normal;
		}
	}
}