<div class="freeuser">
	<div class="row">
	    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 suggestionBox">
	    	<ul class="searchBox row">
	    		<li class="col-lg-12">
	    			<input type="text" ng-model="searchFor" class=""/>
	    		</li>
	    	</ul>{{index}}
	    	<ul class="suggestionContainer list-group">
	    		<li ng-repeat="suggestion in suggestions" class=" suggestion list-group list-group-item-info" ng-click="changeSuggestion()" ng-mouseover="index = suggestion"
	    		ng-mouseleave="index = ''">
	    			<label ng-bind="suggestion"></label>
	    			<i class="glyphicon glyphicon-chevron-right pull-right" ng-show="index == suggestion"></i>
	    		</li>
	    	</ul>
	    </div>
	    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 results">
	    	
	    	<div class="row availability">
	    		<span class="col-lg-12">The availabilty for {{searchFor}} is </span>
	    		<span ng-bind="availabilty">a</span> a
	    	</div>
	    	
	    	<div class="row chart" ng-show="!showChart">
	    		b
	    	</div>
	    	<div class="row map" ng-show="showChart">
	    		c
	    	</div>

	    	<div class="reachHere btn btn-primary row">
	    		<a ng-show="showChart" ng-click="showChart = true" class="col-lg-12"> Get the latest rate</a>
	    		<a ng-show="!showChart" ng-click="showChart = false" class="col-lg-12"> Reach here</a>
	    	</div>

		</div>
	</div>
</div>