<div class="row">

    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 logoDiv"></div>
    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 UserDecision"></div>
</div>






















<div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
        <img src="images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row">    
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="info-box green-bg">
            <i class="fa fa-shopping-cart"></i>
            <div class="count">7.538</div>
            <div class="title">Purchased</div>                      
        </div><!--/.info-box-->         
    </div><!--/.col-->
    
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="info-box dark-bg">
            <i class="fa fa-thumbs-o-up"></i>
            <div class="count">4.362</div>
            <div class="title">Order</div>                      
        </div><!--/.info-box-->         
    </div><!--/.col-->
</div>